{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/final_proyecto/css/estilo.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/final_proyecto/js/main.js') }}"></script>
    <script src="{{ asset('bundles/final_proyecto/js/jquery-1.10.2.min.js') }}"></script>
{% endblock %}

{% block body %}
<div id="cabecera">
  <h1>Información de alimentos</h1>
</div>

<div id="menu">
<hr/>
  <a href="{{ path('final_proyecto_home')}}">inicio</a> |
<hr/>
</div>

<div id="contenido">
{% block contenido %}

{% endblock %}
</div>

<div id="pie">
<hr/>
<div align="center">- pie de página -</div>
</div>

{% endblock %}