{% extends 'FinalProyectoBundle::layout.html.twig' %}

{% block contenido %}

<h1>Session Started</h1>

<form name="input" action="{{ path('final_proyecto_close_session') }}" method="post">
    <input type="submit" value="logout">
</form>

{% endblock %}